# vim: sts=2 ts=2 sw=2 et ai
{% import_yaml "gitlab/defaults.yaml" or {} as defaults %}
{% import_yaml "gitlab/osfamilymap.yaml" or {} as osfamilymap %}


{%- set merged_defaults = salt['grains.filter_by'](defaults,
    default='gitlab',
    merge=salt['grains.filter_by'](osfamilymap, grain='os_family',
      merge=salt['pillar.get']('gitlab:lookup', default={})
    )
) %}

{#- Merge the gitlab pillar #}
{%- set gitlab = salt['pillar.get']('gitlab', default=merged_defaults, merge=True) %}
